@font-face {
  font-family: 'Sail';
  src: local('Sail'), url(fonts/Sail-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Artifika';
  src: local('Artifika'), url(fonts/Artifika-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(fonts/Poppins-Regular.ttf) format('truetype');
}

html {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  font-size: var(--htmlFontSize);
}

body {
  width: 100%;
  height: 100%;

  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: Poppins;
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-block-size: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}
